<!--
Name: Soham Patel, Salvi Patel
Date: April 13, 2024
Group: 7
Course Code : INFT-2202-02
Assignment 4: EJS Templating and MongoDB Atlas Integration
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan Events</title>
</head>
<body>
<h1>Event Planning Page</h1>
<p>You must be logged in to view the statistics. <a href="login.ejs">Login</a> to access the content.</p>
</body>
</html>
