<!--
Name: Soham Patel, Salvi Patel
Date: April 13, 2024
Group: 7
Course Code : INFT-2202-02
Assignment 4: EJS Templating and MongoDB Atlas Integration
-->

<style>
    .navbar.fixed-bottom {
        text-align: center;
        padding-top: 20px;
    }

    .navbar.fixed-bottom h3 {
        font-size: 14px;
        margin: 0;
    }
</style>
<nav class="navbar fixed-bottom nav-bar-light bg-light">
    <div class="container-fluid">
        <h3>&copy; 2024 Harmony Hub. All rights reserved.</h3>
    </div>
</nav>