<!--
Name: Soham Patel, Salvi Patel
Date: April 13, 2024
Group: 7
Course Code : INFT-2202-02
Assignment 4: EJS Templating and MongoDB Atlas Integration
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Harmony Hub</title>
</head>
<body>

</body>
</html>